<% include partials/header %>

<% friends.forEach(function(firend){%>
    <li> <%= firend %></li>
<%});%>
<form action="/addFriend" method="post">
    <input type="text" name="newFriend" placeholder="name">
    <button>ADD FRIEND</button>
</form>
<% include partials/footer %>