<h1>This si secret page</h1>
<img src="https://www.fueloyal.com/wp-content/uploads/2016/08/linked.jpg" alt="">

<li><a href="/register">Sign Up!</a></li>
<li><a href="/login">Login!</a></li>
<li><a href="/logout">Logout!</a></li>