<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 class="newHeader">Edit Comment</h1>
            <div class="login">
                <form action="/campgrounds/<%= campground_id %>/comments/<%= comment._id %>/edit?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="comment[text]" value="<%=comment.text%>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
    <% include ../partials/footer%>