<% include ../partials/header %>
    <div class="container">
        <div class="row">
            <h1 class="newHeader">Update
                <%=campground.name%> Capmground</h1>
            <div class="login">
                <form action="/campgrounds/<%= campground._id %>/edit?_method=PUT" method="POST">
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[name]" value="<%=campground.name%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="number" name="campground[price]" value="<%=campground.price%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[image]" value="<%=campground.image%>">
                    </div>
                    <div class="form-group">
                        <input class="form-control" type="text" name="campground[description]" value="<%=campground.description%>">
                    </div>
                    <div class="form-group">
                        <button class="btn btn-lg btn-primary btn-block">Submit</button>
                    </div>
                </form>
                <a href="/campgrounds">Go Back</a>
            </div>
        </div>
    </div>
    <% include ../partials/footer%>