<% include ../partials/header %>

    <div class="container">
        <header class="jumbotron">
            <div class="container">
                <h1>Welcome To YelpCamp</h1>
                <p>View our hand-piced campground from all over the world</p>
                <p>
                    <a class="btn btn-primary btn-lage" href="/campgrounds/new">Add new Campground</a>
                </p>
            </div>
        </header>
        <div class="row text-center inlinerow">
            <% campgrounds.forEach(function(campground){ %>
                <div class="col-md-3 col-sm-6">
                    <div class="thumbnail">
                        <img src="<%=campground.image%>">
                        <div class="caption">
                            <h4>
                                <%= campground.name %>
                            </h4>
                        </div>
                        <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More info</a>
                    </div>
                </div>
                <% }); %>
        </div>
    </div>

    <% include ../partials/footer %>