<% include partials/header %>
<h1>Login</h1>
<form action="/login" method="POST">
    <input type="text" name="username" placeholder="usermame">
    <input type="password" name="password" placeholder="passwort">
    <button>Login</button>
</form>
<% include partials/footer %>