<% include partials/header %>
<h1>Sign Up</h1>
<form action="/register" method="POST">
    <input type="text" name="username" placeholder="usermame">
    <input type="password" name="password" placeholder="passwort">
    <button>Sign Up</button>
</form>
<% include partials/footer %>