<% include partials/header %>
<% movies.forEach(function(movie){ %>
    <li> Movie Name is: <strong><%= movie %> </strong> </li>
<% }); %>
<form action="/addMovie" method="POST">
    <input type="text" name="movieName" placeholder="NewMovie">
    <button>Search</button>
</form>
<% include partials/footer %>