body {
    background-color: #000;
}
#landing-header {
    z-index: 1;
    position: relative;
    text-align: center;
    padding-top: 40vh;
}
#landing-header h1 {
    color: #fff;
}
.slideshow {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 0;
    list-style: none;
    margin: 0;
    padding: 0;
}
.slideshow li {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: 50% 50%;
    background-repeat: no-repeat;
    opacity: 0;
    z-index: 0;
    animation: imageAnimation 50s linear infinite;
}
.slideshow li:nth-child(1) {
    background-image: url(http://3.bp.blogspot.com/-EZslw2DfT5E/VFEMGzI_XYI/AAAAAAAAFuk/U-S7ouns-1A/s1600/Camping-In-Iceland-National-Park-Hd-Wallpaper-.jpg);
}
.slideshow li:nth-child(2) {
    background-image: url(https://campinglovers.files.wordpress.com/2015/02/camping_wallpaper_hd-1920x1080.jpg);
    animation-delay: 10s;
}
.slideshow li:nth-child(3) {
    background-image: url(https://images.alphacoders.com/744/thumb-1920-744255.jpg);
    animation-delay: 20s;
}
.slideshow li:nth-child(4) {
    background-image: url(https://www.hawaiidiscount.com/blog/wp-content/uploads/2015/11/tent-548022_1920.jpg);
    animation-delay: 30s;
}
.slideshow li:nth-child(5) {
    background-image: url(http://i.imgur.com/UqbeY9L.jpg);
    animation-delay: 40s;
}
@keyframes imageAnimation {
    0% {
        opacity: 0;
        animation-timing-function: ease-in;
    }
    10% {
        opacity: 0;
        animation-timing-function: ease-out;
    }
    20% {
        opacity: 1;
    }
    30% {
        opacity: 0;
    }
}
.no-cssanimations .slideshow li{
    opacity: 1;
}