.inlinerow{
    display: flex;
    flex-wrap: wrap;
}
.newHeader{
    text-align: center;
}
.login{
    width: 30%;
    margin: 0 auto;
}
.thumbnail img{
    width: 100%;
}
.thumbnail{
    padding: 0;
}

.thumbnail .caption-full {
    padding: 9px;
}

#delet-form{
    display: inline;
}